
@{
    ViewBag.Title = "Countries";
}

<div class="page-header text-center" style="border-bottom:none; color: #303952;">
    <h1 style="font-size:45px;">COUNTRIES</h1>
</div>

<hr style="border:2px #e15f41 solid;" />

@if (ViewBag.Message != null)
{
    <div class="text-center">
        <h3>@ViewBag.Message</h3>
    </div>
    <hr style="border:2px #e15f41 solid;" />
}


@foreach (var category in ViewBag.Categories)
{

    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <h3><a href="/Subjects/Index/@category.CategoryId" style="color:#303952;"><span class="glyphicon glyphicon-th-list"></span> View recipes </a></h3>
            </div>
            <div class="col-sm-6 text-center" style="color:#303952;">
                <h1><large><strong>@category.CategoryName</strong></large></h1>
            </div>
            @if (ViewBag.esteAdmin)
            {
                <div class="col-sm-3 text-center">
                    <div style="display:inline-block; float:right;">
                        <button class="button" style="background-color:#cf6a87; width:100px;"><a href="/Categories/Edit/@category.CategoryId"><span class="glyphicon glyphicon-pencil" style="color:white;"></span></a></button>
                    </div>
                    <div style="display:inline-block; float:right;">
                        <form method="post" action="/Categories/Delete/@category.CategoryId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="submit" class="button" style="background-color:#e15f41; width:100px;">
                                <span class="glyphicon glyphicon-trash" style="color:white;"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div style="justify-content:center;">
                    <div class="col-sm-3 text-center">
                        <span class="badge-c" style="background-color:#303952; color:white;">@ViewBag.nrSubjects[category] recipes</span>
                    </div>
                </div>
            }

        </div>
    </div>
    <hr style="border:2px #e15f41 solid;" />
}

<br />
<div class="text-center">
    <div class="container">
        <div class="row">
            @if (ViewBag.esteAdmin)
            {
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <a href="/Categories/New" class="btn btn-lg" style="color:#303952;"><span class="glyphicon glyphicon-plus-sign"> Add new country </span></a>
                </div>
                <div class="col-sm-4"></div>
            }

            @if (ViewBag.afisareButoane)
            {
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <a href="/Subjects/NewSel" class="btn btn-lg" style="color:#303952;"><span class="glyphicon glyphicon-plus-sign"> Add new recipe </span></a>
                </div>
                <div class="col-sm-4"></div>
            }

        </div>
    </div>
</div>